<div  *ngIf="chosenProductId != 0">
  <div>{{product.productName}}</div>
  <input type = "number" min = "1" max = "{{product.productNumber}}" [(ngModel)]="order.orderNumber">
  <p>Стоимость: {{product.productPrice * order.orderNumber}}</p>
  <h3>Введите ФИО:</h3>
  <input [(ngModel)]="client.clientName" placeholder="ФИО">
  <h3>Введите адрес:</h3>
  <input [(ngModel)]="client.clientAddress" placeholder="Адрес">
  <h3>Введите мобильный телефон (без 8):</h3>
  <input [(ngModel)]="client.clientMobile" placeholder="Мобильный телефон">
  <h3>Введите e-mail:</h3>
  <input [(ngModel)]="client.clientEmail" placeholder="E-mail">
  <button (click) = "saveOrder()">Оформить заказ</button>
  <div *ngIf="order.orderProduct.id != 0">
    <div>
      Стоимость: {{order.orderPrice}}
      Наименование: {{order.orderProduct.productName}}
      Статус: {{order.orderStatus}}
      Ваше имя: {{order.orderClient.clientName}}
      Id клиента: {{order.orderClient.id}}
    </div>
    <div *ngIf="order.id != 0">
      Ваш заказ принят!
    </div>
  </div>
</div>

