<h3>Выберите категорию: </h3>
<div *ngFor="let categoryElement of categories">
  <a (click)="setCategory(categoryElement)">{{ categoryElement.categoryName }}</a>
  <div></div>
</div>

<div *ngIf="category.id != 0">Выберете продукт: </div>
<div *ngFor="let productElement of products">
  <div *ngIf="category.id == productElement.productCategory.id">
    <a >{{ productElement.productName }}</a>
    <button (click)="setProduct(productElement)">Перейти к заказу</button>
  </div>
</div>

<app-order [chosenProductId] = "chosenProductId" [product]="product"></app-order>
